
.padre3{
    background-color: rgb(252, 246, 246);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
    object-fit: contain;
}
 /* .container-img3{
      background-color: rgb(233, 13, 13);

    } */
  .cardsimg3{
    width: 30%;
    float: right; 
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 15px;
  }
  /* .cardsimg:hover {
    transform: scale(1.1);
  } */

  .imgcontent3{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center; 
  }
  .titleimage3{
      text-align: center;
      margin-top: 50px;
    font-size: 35px;
    color: #162D54;
    font-family: 'Montserrat', sans-serif;

  }

  .texto3{
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    font-size: 15px;
    color: #162D54;
    font-family: 'Montserrat', sans-serif;
  }
  @media  screen and (min-width: 960px) {
    .content-blog-container {
      width: 84%;
    }
    
  }
  
  @media  screen and (min-width: 780px) {
    .cards-items {
      display: flex;
    }
  }
  
  @media  screen and (max-width: 780px) {
    .cards-item {
      margin-bottom: 2rem;
    }
  }